# Игнорировать бинарные файлы
*.exe
*.out
*.test

# Игнорировать папки зависимостей
vendor/

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать файлы окружения
.env
.env.local

# Игнорировать временные файлы
*.tmp
*.bak

# Игнорировать db файлы
/storage/storage.db